body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: #333333;
    color: #ffffff;
}

body.dark-theme a {
    color: #8ec5ff;
}